@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>

    Grodno, Belarus<br />
    Vrublevskogo 7-305<br />
    <abbr title="Phone">P:</abbr>
    +375 (25) 941-30-70
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tolpawsta@gmail.com">tolpawsta@gmail.com</a><br />

</address>